In [1]:
import numpy as np
import pandas as pd
import re
from currency_conversion import convert_column

In [2]:
df = pd.read_csv("../dat/raw_data.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110155 entries, 0 to 110154
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   tconst                       110155 non-null  object
 1   titleType                    110155 non-null  object
 2   primaryTitle                 110155 non-null  object
 3   originalTitle                110155 non-null  object
 4   isAdult                      110155 non-null  int64
 5   startYear                    110155 non-null  object
 6   endYear                      110155 non-null  object
 7   runtimeMinutes               110155 non-null  object
 8   genres                       110155 non-null  object
 9   averageRating                110155 non-null  float64
 10  numVotes                     110155 non-null  int64
 11  Budget                       28080 non-null   object
 12  Gross US & Canada            18140 non-null   object
 13  Opening weekend US & Canada  15542 non-null   object
 14  Gross worldwide              37572 non-null   object
 15  Rating                       58937 non-null   object
 16  User reviews                 88915 non-null   object
 17  Critic reviews               76877 non-null   object
 18  directors                    110155 non-null  object
 19  writers                      110155 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 16.8+ MB

/home/daniel/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = convert_column(df, "Budget")

In [4]:
df = convert_column(df, "Gross US & Canada")

In [5]:
df = convert_column(df, "Opening weekend US & Canada")

In [6]:
df = convert_column(df, "Gross worldwide")

In [7]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,Budget,Gross US & Canada,Opening weekend US & Canada,Gross worldwide,Rating,User reviews,Critic reviews,directors,writers
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.1,744,66037.0,NaN,NaN,NaN,Not Rated,14.0,7.0,nm0846879,nm0846879
1,tt0001258,movie,The White Slave Trade,Den hvide slavehandel,0,1910,\N,45,Drama,5.7,138,NaN,NaN,NaN,NaN,NaN,4.0,NaN,nm0088881,\N
2,tt0001892,movie,Den sorte drøm,Den sorte drøm,0,1911,\N,53,Drama,5.9,221,NaN,NaN,NaN,NaN,NaN,5.0,2.0,nm0300487,"nm0300487,nm2131092"
3,tt0002101,movie,Cleopatra,Cleopatra,0,1912,\N,100,"Drama,History",5.1,524,1294852.0,NaN,NaN,NaN,Unrated,26.0,4.0,nm0309130,"nm0765026,nm0309130"
4,tt0002130,movie,Dante's Inferno,L'Inferno,0,1911,\N,71,"Adventure,Drama,Fantasy",7.0,2757,NaN,NaN,NaN,NaN,NaN,35,12.0,"nm0655824,nm0209738,nm0078205",nm0019604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110150,tt9914286,movie,Sokagin Çocuklari,Sokagin Çocuklari,0,2019,\N,98,"Drama,Family",7.6,218,NaN,NaN,NaN,3089.0,NaN,NaN,NaN,nm1832009,"nm1832009,nm1902682"
110151,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,\N,74,Drama,6.9,137,NaN,NaN,NaN,65215.0,NaN,NaN,NaN,nm1716653,"nm3678448,nm9361716"
110152,tt9916190,movie,Safeguard,Safeguard,0,2020,\N,90,"Action,Adventure,Thriller",3.5,227,NaN,NaN,NaN,NaN,NaN,82.0,NaN,nm7308376,nm7308376
110153,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020,\N,84,Thriller,5.8,1279,NaN,NaN,NaN,NaN,NaN,9,7.0,nm1480867,"nm1480867,nm10538402"
110154,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History",6.4,4271,3000382.0,NaN,NaN,342531.0,TV-MA,36,28.0,nm1893148,"nm1893148,nm3471432"